{% extends "base.html.twig" %}


{% block title %}
	Nicolas Vanlauwe - Accueil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('build/app.css')}}">
{% endblock %}
{% block javascripts %}
	<script src="{{asset("build/app.js")}}"></script>
	<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
{% endblock %}

{% block head %}
	<meta name="description" content="Bonjour, voici le portfolio de Nicolas Vanlauwe !">
{% endblock %}
{% block body %}
	<div class="remplissage">
		<div class="accueil bg-reveal">
			<h1 class="text-white" id="h1presentation"></h1>
		</div>
	</div>


	<div class="btn" id="down">
		<p id="downsentence">Vers le bas</p>
		<i class="fa-solid fa-arrow-down fa-xl"></i>
	</div>


	<div class="container mt-3">
		<div class="titrecomp">
			<h2 id="h2comp">Mes compétences</h2>
			<div class="lignes extend">
				<div class="l1"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 mt-4 ">
				<div class="card border-info reveal-top card-comp">
					<div class="card-body">
						<div class="dropdown">
							<div class="card-title">
								<div class="icone-html">
									<img class="img-fluid" src="{{asset('build/images/logo_html.png')}}" alt="logo_html">
								</div>
								<div class="niveau">
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation0"></div>
								</div>
								<i class="fa-solid fa-angle-down btn-top false"></i>
							</div>
							<div class="bloc-links" id="bloc-links0">

								<p class="card-text mt-3">
									<strong>HTML</strong>
									est un langage de balisage, il peut créer de lui-même une page web. Simple et logique c'est un language que j'affectionne. En s'alliant à d'autre langages il est encore plus puissant et donne une plus grande amplitude au développeur afin de créer leur application.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mt-4">
				<div class="card border-info reveal-top card-comp">
					<div class="card-body">
						<div class="dropdown">
							<div class="card-title">
								<div class="icone-css">
									<img class="img-fluid" src="{{asset('build/images/logo_css.png')}}" alt="logo_css">
								</div>
								<div class="niveau">
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation0"></div>
								</div>
								<i class="fa-solid fa-angle-down btn-top false"></i>
							</div>

							<div class="bloc-links" id="bloc-links1">

								<p class="card-text mt-3">Le
									<strong>CSS</strong>
									est la continuité de l'HTML. Il permet de structurer et de designer une page brute et c'est cette liberté et toutes ces fonctionnalités que j'apprécie.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mt-4">
				<div class="card border-info reveal-top card-comp">
					<div class="card-body">
						<div class="dropdown">
							<div class="card-title">
								<div class="icone-javascript">
									<img class="img-fluid" src="{{asset('build/images/logo_javascript.png')}}" alt="logo_javascript">
								</div>
								<div class="niveau">
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation0"></div>
									<div class="graduation0"></div>
								</div>
								<i class="fa-solid fa-angle-down btn-top false"></i>
							</div>

							<div class="bloc-links" id="bloc-links2">

								<p class="card-text mt-3">
									<strong>JavaScript</strong>
									langage de programmation de scripts permet de rendre interactive les pages web. Découvert depuis peu je débute donc dans ce langage très addictif je trouve.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 mt-4">
				<div class="card border-info reveal-top card-comp">
					<div class="card-body">
						<div class="dropdown">
							<div class="card-title">
								<div class="icone-php">
									<img class="img-fluid" src="{{asset('build/images/logo_php.png')}}" alt="logo_php">
								</div>
								<div class="niveau">
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation0"></div>
								</div>
								<i class="fa-solid fa-angle-down btn-top false"></i>
							</div>

							<div class="bloc-links" id="bloc-links3">

								<p class="card-text mt-3">Découvert plus tard que le HTML et le CSS, le
									<strong>PHP</strong>
									est un des langages orientés objet que je connais. L'ayant pratiqué au DUT dans les grandes lignes, j'ai pu approfondir ces connaissances dans la formation Symfony.</p>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="col-lg-4 mt-4">
				<div class="card border-info reveal-top card-comp">
					<div class="card-body">
						<div class="dropdown">
							<div class="card-title">
								<div class="icone-python">
									<img class="img-fluid" src="{{asset('build/images/logo_python.png')}}" alt="logo_python">
								</div>
								<div class="niveau">
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation0"></div>
								</div>
								<i class="fa-solid fa-angle-down btn-top false"></i>
							</div>

							<div class="bloc-links" id="bloc-links4">

								<p class="card-text mt-3">
									<strong>Python</strong>
									est le premier langage auquel j'ai touché, je trouve que c'est le meilleur pour commencer car il est très intuitif.</p>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="col-lg-4 mt-4">
				<div class="card border-info reveal-top card-comp">
					<div class="card-body">
						<div class="dropdown">
							<div class="card-title">
								<div class="icone-java">
									<img class="img-fluid" src="{{asset('build/images/logo_java.png')}}" alt="logo_java">
								</div>
								<div class="niveau">
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation0"></div>
									<div class="graduation0"></div>
								</div>
								<i class="fa-solid fa-angle-down btn-top false"></i>
							</div>

							<div class="bloc-links" id="bloc-links5">

								<p class="card-text mt-3">
									<strong>Java</strong>
									est aussi un langage orienté objet, je ne saurais dire pourquoi mais dans mon DUT ce dernier était ma bête noire, j'arrivais difficilement à transcrire ce que je voulais faire en code. Mais l'un de mes projets présenté après m'a permis de me familiariser avec lui.
								</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 mt-4">
				<div class="card border-info reveal-top card-comp">
					<div class="card-body">
						<div class="dropdown">
							<div class="card-title">
								<div class="icone-symfony">
									<img class="img-fluid" src="{{asset('build/images/logo_symfony.png')}}" alt="logo_symfony">
								</div>
								<div class="niveau">
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation0"></div>
									<div class="graduation0"></div>
								</div>
								<i class="fa-solid fa-angle-down btn-top false"></i>
							</div>

							<div class="bloc-links" id="bloc-links6">

								<p class="card-text mt-3">
									<strong>Symfony</strong>, découvert grâce à la formation de Lior Chamla. C'est le premier framework que j'apprends à connaitre et je trouve cela très utile. Il m'a permis de développer mes connaissances en PHP et en Twig.</p>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="col-lg-4 mt-4">
				<div class="card border-info reveal-top card-comp">
					<div class="card-body">
						<div class="dropdown">
							<div class="card-title">
								<div class="icone-sql">
									<img class="img-fluid" src="{{asset('build/images/logo_sql.png')}}" alt="logo_sql">
								</div>
								<div class="niveau">
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation0"></div>
									<div class="graduation0"></div>
								</div>
								<i class="fa-solid fa-angle-down btn-top false"></i>
							</div>

							<div class="bloc-links" id="bloc-links7">

								<p class="card-text mt-3">Découvert à mon DUT avec toutes les notions de base de données,
									<strong>SQL</strong>
									me permet de correspondre avec ces dernières pour échanger des informations.</p>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="col-lg-4 mt-4">
				<div class="card border-info reveal-top card-comp">
					<div class="card-body">
						<div class="dropdown">
							<div class="card-title">
								<div class="icone-c">
									<img class="img-fluid" src="{{asset('build/images/logo_c.png')}}" alt="logo_c">
								</div>
								<div class="niveau">
									<div class="graduation1"></div>
									<div class="graduation1"></div>
									<div class="graduation0"></div>
									<div class="graduation0"></div>
									<div class="graduation0"></div>
								</div>
								<i class="fa-solid fa-angle-down btn-top false"></i>
							</div>

							<div class="bloc-links" id="bloc-links8">

								<p class="card-text mt-3">Le
									<strong>C</strong>
									et toute sa famille (<strong>C#</strong>
									et
									<strong>C++</strong>) m'ont été introduits au cours de mon DUT, au travers de certains cours de math où nous devions coder des programmes ou dans mes projets codés avec Windows Form.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="separation"></div>

	<div class="container mt-3">
		<div class="titrecomp">
			<h2 id="h2comp">Autres outils connus</h2>
			<div class="extend">
				<div class="l1"></div>
			</div>
		</div>

		<div class="card border-info">
			<div class="card-body" id="outils">

				<div>
					<img class="img-fluid icone-sas" src="{{asset('build/images/logo_sas.png')}}" alt="logo_sas">
					<h3 class="mt-3">SAS</h3>
				</div>
				<div>
					<img class="img-fluid icone-composer" src="{{asset('build/images/logo_composer.png')}}" alt="logo_composer">
					<h3 class="mt-3">Composer</h3>
				</div>
				<div>
					<img class="img-fluid icone-git" src="{{asset('build/images/logo_git.png')}}" alt="logo_git">
					<h3 class="mt-3">Git</h3>
				</div>
				<div>
					<img class="img-fluid icone-twig" src="{{asset('build/images/logo_twig.png')}}" alt="logo_twig">
					<h3 class="mt-3">Twig</h3>
				</div>
			</div>
		</div>
	</div>


	<div class="separation"></div>

	<div class="container mt-3">
		<div class="titrecomp">
			<h2 id="h2comp">Mes diplômes et expériences</h2>
			<div class="extend">
				<div class="l1"></div>
			</div>
		</div>
		<div class="card border-info diplome-exp">
			<div class="card-body" id="exp">

				<div class="contain-exp">
					<div class="annee-exp">
						<i class="fa-solid fa-graduation-cap"></i>
						<p>2022</p>
					</div>
					<div class="intitule-exp">
						<p>Développeur intégrateur web (niveau 5)</p>
					</div>
					<div class="endroit-exp">
						<p>Open Classrooms</p>
					</div>
				</div>

				<div class="contain-exp">
					<div class="annee-exp">
						<i class="fa-brands fa-symfony"></i>
						<p>2022</p>
					</div>
					<div class="intitule-exp">
						<p>Symfony 5 : Le guide complet par Lior Chamla</p>
					</div>
					<div class="endroit-exp">
						<a href="{{path('projects_show')}}">
							<button type="button" class="btn btn-info">
								<p>Vers mes projets</p>
							</button>
						</a>
					</div>
				</div>
				<div class="contain-exp">
					<div class="annee-exp">
						<i class="fa-solid fa-certificate"></i>
						<p>2018-2019</p>
					</div>
					<div class="intitule-exp">
						<p>DUT Informatique (1ère année obtenue)</p>
					</div>
					<div class="endroit-exp">
						<p>IUT Robert Schuman 67400 Illkirch</p>
					</div>
				</div>
				<div class="contain-exp">
					<div class="annee-exp">
						<i class="fa-solid fa-graduation-cap"></i>
						<p>2018</p>
					</div>
					<div class="intitule-exp">
						<p>Baccalauréat Scientifique : Spécialité Physique Chimie</p>
					</div>
					<div class="endroit-exp">
						<p>Lycée Robert Schuman 67500 Haguenau</p>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
